body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #06338b;
  color: white;
  text-align: center;
  padding: 20px;
}

.product {
  border: 1px solid #ccc;
  margin: 20px;
  padding: 20px;
}

button {
  background-color: #0a5c36;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}
